html {
  height: 100%;
}
body {
  padding: 0;
  text-align: center;
  font-family: 'open sans';
  position: relative;
  margin: 0;
  height: 100%;
}

.ptr-space {
  background: url(stardust.jpg) repeat;
}
.wrapper {
	height: auto !important;
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}

a {
  text-decoration: none;
}



h1, h2 {
  width: 100%;
  float: left;
}
h1 {
  margin-top: 100px;
  color: #fff;
  margin-bottom: 5px;
  font-size: 70px;
  font-weight: 100;
}
h2 {
  padding: 00px 20px 30px 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  letter-spacing: 0px;
  color: #ccc;
  font-size: 20px;
  line-height: 160%;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 0;
}


.pointer {
  color: #00B0FF;
  font-family: 'Pacifico';
  font-size: 24px;
  margin-top: 15px;
  position: absolute;
  top: 130px;
  right: -40px;
}
.pointer2 {
  color: #00B0FF;
  font-family: 'Pacifico';
  font-size: 24px;
  margin-top: 15px;
  position: absolute;
  top: 130px;
  left: -40px;
}
pre {
  margin: 80px auto;
}
pre code {
  padding: 35px;
  border-radius: 5px;
  font-size: 15px;
  background: rgba(0,0,0,0.1);
  border: rgba(0,0,0,0.05) 5px solid;
  max-width: 500px;
}


.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}


.main h1 {
  padding:20px 50px 10px;
  float: left;
  width: 100%;
  font-size: 60px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-weight: 100;
  margin: 0;
  padding-top: 55px;
  font-family: 'Open Sans';
  letter-spacing: -1px;
  text-transform: capitalize;
}

.main h1.demo1 {
  background: #1ABC9C;
}

.reload.bell {
  font-size: 12px;
  padding: 20px;
  width: 45px;
  text-align: center;
  height: 47px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.reload.bell #notification {
  font-size: 25px;
  line-height: 140%;
}

.reload, .btn{
  display: inline-block;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
  line-height: 100%;
  padding: 0.7em;
  text-decoration: none;
  width: 100px;
  line-height: 140%;
  font-size: 17px;
  font-family: Open Sans;
  font-weight: bold;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4D90FE;
  background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -webkit-moz-gradient(top,#4D90FE,#4787ED);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ED;
  color: #FFF;
}
.reload:hover{
  background: #317af2;
}
.btn {
  width: 200px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #4D90FE;
  background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
  background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ED;
  color: #FFF;
}
.clear {
  width: auto;
}
.btn:hover, .btn:hover {
  background: #317af2;
}
.btns {
  float: left;
  width: 100%;
  margin: 50px auto;
}
.credit {
  text-align: center;
  color: #ccc;
  padding: 10px 10px;
  margin: 0 0 0 0;
  background: rgba(0,0,0,0.5);
  float: left;
  width: 100%;
}
.credit a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: block;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background:rgba(0,0,0,0.5);
  font-weight: bold;
  font-size: 13px;
  color: #bbb;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.back:hover {
  background: #eee;
}


.page-container {
  float: left;
  width: 100%;
  margin: 0 auto 300px;
  position: relative;
}

.header {
  overflow: hidden;
  clear: both;
}

.ptr-shape {
  padding: 50px;
  display: inline-block;
}

.ptr-planet {
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.ptr-interacting .ptr-planet {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  animation: none !important;
}

.ptr-space {
  background: url(img/stardust.jpg) repeat;
}

.ptr-shape {
  -webkit-animation: float 3s infinite ease-in-out;
  -moz-animation: float 3s infinite ease-in-out;
  animation: float 3s infinite ease-in-out;
}

.ptr-ring {
  left: 50%;
  top: 50%;
  position: absolute;
}

@-webkit-keyframes float{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}

@-moz-keyframes float{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

@keyframes float{
    from {transform:translate(0, 0px);}
    65% {transform:translate(0, 15px);}
    to {transform: translate(0, -0px);}    
}

@keyframes rotate {
  from { background-position:0; } 
  to { background-position:200%; }
}
@-webkit-keyframes rotate {
  from { background-position:0; } 
  to { background-position:200%; }
}

@-moz-keyframes rotate {
  from { background-position:0; } 
  to { background-position:200%; }
}

